<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>random</title>
</head>
<body>
    <h1> This is your  Random numeber: <%= ra %></h1>
    <% if(ra % 2 === 0){  %> 
    <h2>"u are super macha"</h2>
        <% } %> 
</body>
</html>