<%- include('partials/head') %> 
<body>
    <%- include('partials/navbars.ejs') %> 
    <h1>This is ejs file <%= 4 + 5 %></h1>
    <h1>This is ejs file <%= 'hi'.toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia nesciunt blanditiis eum 
        repellendus beatae aliquam consequatur eos? Magnam, impedit modi voluptatem iure blanditiis, architecto perferendis numquam facere, molestias assumenda culpa?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut adipisci rerum in deleniti quam,
         deserunt velit similique facere corrupti omnis expedita fugiat? Fugiat reprehenderit, sunt rerum expedita accusantium vero assumenda.
    </p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum laudantium consequuntur explicabo! Delectus provident error laudantium dolorum, dolores perferendis doloribus, natus, ipsum dicta eius incidunt recusandae architecto atque quisquam eum.</p>
</body>
</html>
