<%- include('partials/head') %> 
<body>
    <%- include('partials/navbars.ejs') %> 
    <h1> This is your  Random numeber: <%= ra %></h1>
    <% if(ra % 2 === 0){  %> 
    <h2>"u are super macha"</h2>
        <% } %> 
</body>
</html>